* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 0px;
    border: 0px solid red;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}


/* Desktop middle size */

@media screen and ( min-width:992 px) {
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}


/* Mobile Device small size */

@media screen and ( min-width:768px) and ( max-width: 991px) {
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}


/* For desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.container {
    position: relative;
    font-family: "微軟正黑體";
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 300px;
    overflow: hidden;
    background-color: #273144;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

li {
    padding: 10px;
    float: left;
}

.li-right {
    float: right;
    font-size: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #1abc9c;
}

.active {
    background-color: black;
}

.banner {
    max-width: 100%;
    padding: 100px 300px 100px 300px;
    margin: 0px;
    background-color: #1abc9c;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.center {
    text-align: center;
}

.line {
    width: 480px;
    height: 1px;
    background: white;
}

.PORTFOLIO {
    color: #273144;
    font-size: 25px;
    padding: 100px 300px 50px 300px;
}

.pic1 {
    height: 250px;
    max-width: 100%;
    margin: 10px;
}

.pic2{
    border: 2px solid white;
    border-radius: 600px;   /* 高度 */
    background-color: #435371;
    color:white;
}

.font1 {
    font-size: 60px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.font2 {
    font-size: 40px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.two-column {
    padding: 1em;
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
    text-align: left;
}

.btn1 {
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    height: 60px;
    width: 220px;
    font-size: 20px;
    background-color: #1abc9c;
    color: #273144;
}

.btn1:hover {
    background-color: white;
}

.btn2 {
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    height: 60px;
    width: 100px;
    font-size: 20px;
    background-color: #1abc9c;
    color: white;
}

.btn2:hover {
    background-color: #0A816A;
}

.fd {
    padding: 20px;
    font-size: 20px;
    border-width: 2px 0px 0px 0px;
    width: 100%;
}

.fd:hover{
    content: "";
    clear: both;
    display: block; 
}

.last {
    max-width: 100%;
    padding: 10px 300px 200px 300px;
    background-color: #435371;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.last a {
    color: #1abc9c;
    text-decoration: none;
}

.last a:hover {
    text-decoration: underline;
}

.footer {
    list-style-type: none;
    padding: 20px 300px;
    background-color: #273144;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

body {
    margin-bottom: 0px;
}
