* {
    box-sizing: border-box;
}

.rwdrow {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
}

[class^="rwdcol-"] {
    width: 100%;
    float: left;
}

.onecol {
    background: #BFBFBF;
    padding: 10px;
}

.rwdcol {
    padding: 5px;
    margin: 10 auto;
    float: left;
}

.rwdbtn {
    background: blue;
    color: white;
}

.rwdimg {
    max-width: 100%;
}

@media screen and ( min-width:992px) {
    .rwdcol-md-1 {
        width: 8.33%;
    }
    .rwdcol-md-2 {
        width: 16.66%;
    }
    .rwdcol-md-3 {
        width: 25%;
    }
    .rwdcol-md-4 {
        width: 33.33%;
    }
    .rwdcol-md-5 {
        width: 41.66%;
    }
    .rwdcol-md-6 {
        width: 50%;
    }
    .rwdcol-md-7 {
        width: 58.33%;
    }
    .rwdcol-md-8 {
        width: 66.66%;
    }
    .rwdcol-md-9 {
        width: 75%;
    }
    .rwdcol-md-10 {
        width: 83.33%;
    }
    .rwdcol-md-11 {
        width: 91.66%;
    }
    .rwdcol-md-12 {
        width: 100%;
    }
}

@media screen and ( min-width:768px) and ( max-width: 991px) {
    .rwdcol-sm-1 {
        width: 8.33%;
    }
    .rwdcol-sm-2 {
        width: 16.66%;
    }
    .rwdcol-sm-3 {
        width: 25%;
    }
    .rwdcol-sm-4 {
        width: 33.33%;
    }
    .rwdcol-sm-5 {
        width: 41.66%;
    }
    .rwdcol-sm-6 {
        width: 50%;
    }
    .rwdcol-sm-7 {
        width: 58.33%;
    }
    .rwdcol-sm-8 {
        width: 66.66%;
    }
    .rwdcol-sm-9 {
        width: 75%;
    }
    .rwdcol-sm-10 {
        width: 83.33%;
    }
    .rwdcol-sm-11 {
        width: 91.66%;
    }
    .rwdcol-sm-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    [class*="rwdcol-"] {
        width: 100%;
    }
}
