* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.c1 {
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
    display: block;
    background: url("../img/hw-1/0.jpg");
    color: white;
    font-size: 30px;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pic1 {
    max-width: 100%;
    height: 400px;
    float: right;
}

.pic2 {
    max-width: 100%;
    height: 400px;
    float: left;
}

.t1 {
    text-align: left;
    font-size: 20px;
}

.t2 {
    text-align: right;
    font-size: 20px;
}

.tcol2:hover {
    background: red;
    color: white;
}

.tcol1:hover {
    background: blue;
    color: white;
}

h2 {
    color: red;
}

h3 {
    color: blue;
}

.box {
    padding: 20px;
}

a:hover {
    background: blue;
    color: white;
    text-decoration: none;
    font-size: 120%;
}
