* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#hw5 {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 10px;
}

.aside {
    background-color: yellow;
    width: 200px;
    padding: 10px;
    float: left;
}

.section {
    width: 400px;
    background-color: red;
    color: white;
    font-size: 40px;
    padding: 10px;
    float: left;
}

.right {
    background-color: green;
    width: 200px;
    padding: 5px;
    float: left;
}

.pic {
    max-width: 150px;
}

.footer {
    background-color: blue;
    clear: both;
}
